# requirements.txt
# 适配 Python 3.10 环境

# ----------------------------------------
# 基础数据处理与科学计算
# ----------------------------------------
numpy>=1.22.4, <2.0.0
scipy>=1.8.0

# ----------------------------------------
# 深度学习框架
# ----------------------------------------
torch>=2.0.0